<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879852862991-1otgq15h2sh0ou4o8ivpr7evqd6f91h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879852862991-1otgq15h2sh0ou4o8ivpr7evqd6f91h4</string>
	<key>API_KEY</key>
	<string>AIzaSyAeBy7W5xQY8sBmvpzNWrB7xb29V4IM_Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>879852862991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techbuzs.chapptb</string>
	<key>PROJECT_ID</key>
	<string>chatapptb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879852862991:ios:b18cc4dd3acf7f8a14ad7a</string>
	<key>DATABASE_URL</key>
	<string>https://chatapptb.firebaseio.com</string>
</dict>
</plist>